parameters:
    level: 8
    paths:
        - src
    tmpDir: var/cache/phpstan
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method DOMNode::#'
        - '#Access to an undefined property DOMNode::#'
